body {
    background: hsl(212, 45%, 89%);
    position: relative;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


.tarjeta {
    width: 300px;
    height: 470px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.contenedor {
    padding: 15px;
    text-align: center;
}


.qr {
    width: 270px;
    border-radius: 10px;

}

.tarjeta .contenedor h1 {
    font-size: 20px;
    padding: 0 10px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
}

.tarjeta .contenedor p {
    color:hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 0 10px;
}

.attribution {
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    color: hsl(220, 15%, 55%);
    ;
}

.attribution a {
    text-decoration: none;
    color:hsl(218, 44%, 22%);
}
